body{
    background: black;
}
div{
    box-sizing:border-box;
}
.post{
    background: white;
    width: 500px;
    height:700px;
    margin: auto;
    }
.extension{
    margin:-10px;
    font-size:15px;
    margin-left:-15px;
    margin-top:-1px;
    
}




i{
    font: size 30px;
    margin-right: 40%;
}
img{
    width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
}
.icon-font{
    margin: 0 5px;
    font-size:40px;
    padding:10px 20px 10px 15px;

    }


.header-words{
    display: flex;
    font-size:50px;
    padding:10px 20px 10px 15px;
}

.icons3{
    display: flex;
    margin-left:100px;
    margin:0px 200px 0 150px;
    font-size:30px
    
    
    }
.icons4{
    
    display:flex;
    font-size:30px;
    margin:20px;
    
}

.footer{
    font-size:20px;
    padding:10px 0 0 10px;
    
}
.strong{
    font-size: bold;
}
